html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    width: 100%;
    height: 100%;
    /* background: aqua; */
}
.header{
    width: 100%;
    background: #fff;
    height: 40px;
}
.header>.zi{
    height: 40px;
    float: right;
    display: block;
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 13px;
    margin-right: 340px;
    color: #a7a7a7;
}
.header>.zi>p{
    margin-left: 10px;
}
.header>.zi>p:nth-of-type(1){
    margin-right: 10px;
}
.header>.zi>p:nth-of-type(2){
    margin-right: 10px;
}
.header>.zi>p:nth-of-type(3){
    background: #ececec;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.tw{
    /* background: blue; */
    display: flex;
    height: 78px;
}
.tw>.img{
    margin-left: 250px;
}
.tw>.img>img{
    width: 275px;
    height: 54px;
    margin-top: 10px;
}
.tw>ul{
    display: flex;
    font-size: 14px;
    width: 600px;
    margin-left: 190px;
}
.tw>ul>li{
    /* width: 30px; */
    font-weight: bold;
    text-align: center;
    line-height: 78px;
    margin-left: 35px;
}
.tw>ul>li:nth-of-type(4){
    background: #f5f5f5;
    width: 70px;
    height: 30px;
    margin-top: 25px;
    line-height: 30px;
}
.img1{
    width: 100%;
    height: 220px;
}
.img1>img{
    width: 100%;
    height: 220px;
}
.main{
    width: 100%;
    min-height: 2600px;
    /* background: rgb(252, 149, 217); */
    margin: 0 auto;
    position: relative;
}
.main>.head{
    width: 100%;
    height: 48px;
    border: 1px solid #eee;
    font-size: 14px;
    display: flex;
    line-height: 48px;
}
.main>.head{
    box-sizing: border-box;
    padding-left: 205px;
}
.main>.head>li:nth-of-type(2){
    margin-left: 20px;
    color: #21b8c6;
    border-bottom: 1px solid #21b8c6;
}
.main>.fen{
    color: #f1f1f1;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 205px;
}
.container{
    width: 1020px;
    height: 1000px;
    /* background: rgb(240, 241, 132);ã€ */
    margin: 0 auto
}
.container>.wen{
    height: 160px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
}
.container>.wen1{
    height: 90px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.container>.wen1>h3{
    margin-top: 50px;
    font-size: 25px;
}
.container>.wen1>p{
    font-size: 13px;
    margin-top: 10px;
    color: #a0a0a0;
}
.container>.wen>h3{
    margin-top: 60px;
    font-size: 25px;
}
.container>.wen>p{
    font-size: 13px;
    margin-top: 10px;
    color: #a0a0a0;
}
.container>.p{
    margin-top: 10px;
    padding: 10px;
}
.container>.p>p{
    text-indent: 20px;
    font-size: 14px;
}
.container>.p>.img2{
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
}
.wenzi{
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
    font-size: 13px;
    margin-top: 20px;;
    padding: 10px 0px;
    /* line-height: 20px; */
}
.wenzi>p:nth-of-type(1){
    float: left;
}
.wenzi>p:nth-of-type(2){
    float: right;
}
.btn{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.btn>button{
    background: transparent;
    padding: 5px 10px;
    border: none;
    border: 1px solid #ccc;
    outline: none;
}
.img4{
    width: 100%;
    height: 382px;
    margin-top: 20px;
}
.img4>img{
    width: 100%;
    height: 382px;
}

.img5{
    margin-top: 40px;
}